<!DOCTYPE html>

<html ng-app="bandsInTownApp" >

<head>

    <title>Bands in town</title>

    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

    <link rel="stylesheet" property="stylesheet" href="public/css/app.css">

</head>

<body ng-controller="MainController as main">

<div class="container" layout="row" layout-align="center center">

    <div class="search-container" flex layout="column" layout-align="center space-between">

        <md-input-container class="input-container md-whiteframe-5dp" flex="40">

            <input name="searchText"
                   ng-change="main.data.fetchAutoComplete(main.search.text)"
                   ng-model="main.search.text"
                   placeholder="Wyszukaj artystę" >

            <img  class="input-container__clear-img"
                  src="public/images/clear-button.svg"
                  ng-if="main.search.text.length > 0"
                  alt="Wyczyść"
                  ng-click="main.clearSearchInput()"  >

        </md-input-container>

        <div class="search-container__date" flex="40" layout="row" layout-align="space-around center">
            <h3>W dniach:</h3>
            <md-datepicker ng-model="main.data.fromDate" md-placeholder="Od"></md-datepicker>
            <md-datepicker ng-model="main.data.toDate" md-placeholder="Do"></md-datepicker>
        </div>

        <md-button class="button-search md-raised md-primary" ng-click="main.data.searchEvent($event)">Szukaj</md-button>

    </div>

    <div class="autocomplete absolute-list" ng-if="main.data.autoCompleteData.length > 0">
        <md-card class="autocomplete__item" ng-repeat="artist in main.data.autoCompleteData" ng-click="main.selectArtist(artist)">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-bind="artist.name"></span>
                    <span class="md-subhead" ng-bind="artist.trackerText.replace('Trackers', 'Obserwujących')"></span>
                </md-card-title-text>
            </md-card-title>
            <img ng-src="{{artist.imageSrc}}" alt="">
        </md-card>
    </div>


    <div class="events absolute-list" ng-if="main.data.events.length > 0">
        <md-card class="events__item" ng-repeat="event in main.data.events" >
            <md-card-title>
                <md-card-title-text layout="row" layout-align="space-around center">
                    <span flex-xs="50" flex="25"  class="events__item md-headline" ng-bind="main.data.selectedArtist"></span>
                    <span flex-xs="50" flex="25"  class="events__item " ng-bind="event.venue.name"></span>
                    <span flex-xs="50" flex="25"  class="events__item " ng-bind="event.venue.country"></span>
                    <md-button flex-xs="50" flex="25"  class="events__item md-raised md-primary" ng-click="main.moreEventInfo($event, event)">Więcej</md-button>
                </md-card-title-text>
            </md-card-title>


        </md-card>
    </div>

    <div class="no-result absolute-list" ng-if="main.data.noResult">
        <h2>Brak wyników</h2>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<script src="public/js/dev/app.js"></script>

<script src="public/js/dev/filters/special_char.filter.js"></script>

<script src="public/js/dev/controllers/main.controller.js"></script>


<script src="public/js/dev/services/app.service.js"></script>
</body>

</html>
