<md-dialog class="event-info" aria-label="Mango (Fruit)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="event-info__title">{{ctrl.event.venue.name}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="event-info__content" layout="column">
            <div class="event-info__item" layout="row" layout-align="space-between center">
                <p flex="40">Data</p>
                <p flex="40">{{ctrl.getDate(ctrl.event.datetime)}}</p>
            </div>
            <div class="event-info__item" layout="row" layout-align="space-between center">
                <p flex="40">Państwo</p>
                <p flex="40">{{ctrl.event.venue.country}}</p>
            </div>
            <div class="event-info__item" layout="row" layout-align="space-between center">
                <p flex="40">Miasto</p>
                <p flex="40">{{ctrl.event.venue.city}}</p>
            </div>
            <div class="event-info__item" layout="row" layout-align="space-between center">
                <p flex="40">Opis</p>
                <p flex="40">{{ctrl.event.description}}</p>
            </div>
            <div class="event-info__item" layout="row" layout-align="space-between center" ng-repeat="item in ctrl.event.offers">
                <p flex="40">Bilety {{item.type == 'Tickets' ? 'Zwykłe' : 'VIP'}} : {{item.status == 'available' ? 'Dostępne' : 'Niedostępne'}}</p>
                <md-button flex="40" ng-href="{{item.url}}" target="_blank" md-autofocus>Link</md-button>
            </div>

            <md-button class="event-info__link" ng-href="{{ctrl.event.url}}" target="_blank" md-autofocus>Link do wydarzenia</md-button>

        </md-dialog-content>


        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="ctrl.cancel()">Zamknij</md-button>
        </md-dialog-actions>
</md-dialog>