html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Roboto-Regular", sans-serif; }

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

*:not(input) {
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; }

p {
    margin: 0; }

.container{
    position:relative;
    width:100%;
    height: 100%;
    align-items: flex-start;
}

.title{
    margin:10px auto;
}

.search-container{
    max-width:60%;
    min-width:320px;
}

.input-container{
    width:100%;
    margin:20px 0;
    padding:30px 20px;

    &__clear-img{
        position: absolute;
        right:30px;
        top:35px;
        width:20px;
        height: 20px;
        display: block;
        cursor:pointer;
        &:hover{
            outline: none;
        }
    }
}

.button-search{
    padding: 10px 20px;
    margin: 20px 0;
}

.absolute-list{
    position:absolute;
    top:300px;
    left:0;
    right:0;
}

.autocomplete{

    width:700px;
    max-width:90%;
    margin:0 auto;
    cursor: pointer;

    &__item{
        width:100%;
        flex-direction: row-reverse;
        align-items: center;
        
        &:hover{
            box-shadow:2px 2px 2px #000;
            background-color: #bfd0ef;
        }

        & img{
            width:100px;
            height: 100px;
            display: block;
            padding:10px;
        }
    }
}

.events {

    width:700px;
    max-width:90%;
    margin:0 auto;
}

.event-info{
    width:700px;
    max-width:90%;
        
    &__title{
        text-align: center;
        width:100%;
    }

    &__content{
        padding:20px;
    }
    &__item{
        height:50px;
        border-bottom:2px solid #3256bb;
    }

    &__link{
        margin-top:20px;
    }
}

.no-result{
    width:100%;
    height:500px;
    text-align: center;
    background: #fafafa
}

@media(max-width:760px){

    .search-container{
        max-width:95%;

        &__date{
            flex-direction:column;
        }
    }

    .absolute-list{
        top:380px;
    }

    .events{

        &__item:first-child{
            display: none;
        }
    }
}